<html> 
<body> 
    <h3>Income Prediction Form</h3> 
  
<div> 
  <form action="/task1" method="POST"> 
  	  <input type="submit" value="Submit"> 
  </form> 
</div> 
<div> 
  <form action="/task2" method="POST"> 
  	  <input type="submit" value="Submit"> 
  </form> 
</div> 
<div> 
  <form action="/task3" method="POST"> 
  	  <input type="submit" value="Submit"> 
  </form> 
</div> 
<div> 
  <form action="/task4" method="POST"> 
  	  <input type="submit" value="Submit"> 
  </form> 
</div> 
<div> 
  <form action="/task5" method="POST"> 
  	  <input type="submit" value="Submit"> 
  </form> 
</div> 
<div> 
  <form action="/task6" method="POST"> 
  	  <input type="submit" value="Submit"> 
  </form> 
</div> 
<div> 
  <form action="/task7" method="POST"> 
  	  <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html>