<html> 
<body> 
    <h3>Task to achive</h3> 
  
<div> 
  <form action="/task1" method="POST"> 
  	  <input type="submit" value="task1"> 
  </form> 
</div> 
<div> 
  <form action="/task2" method="POST"> 
  	  <input type="submit" value="task2"> 
  </form>   
</div> 
<div> 
  <form action="/task3" method="POST"> 
  	  <input type="submit" value="task3"> 
  </form> 
</div> 
<div> 
  <form action="/task4" method="POST"> 
  	  <input type="submit" value="task4"> 
  </form> 
</div> 
<div> 
  <form action="/task5" method="POST"> 
  	  <input type="submit" value="task5"> 
  </form> 
</div> 
<div> 
  <form action="/task6" method="POST"> 
  	  <input type="submit" value="task6"> 
  </form> 
</div> 
<div> 
  <form action="/task7" method="POST"> 
  	  <input type="submit" value="task7"> 
  </form> 
</div> 
</body> 
</html>